/.dir-locals.el
*.jpg
*.svg
*.png
*.eps
*.dat
.lock-waf_linux_build
build/
utils.pyc
__pycache__/
waf-tools/
.waf3-2.0.18-ff4ae9f5cc05353d3dc3aeff8854ae69/
wutils.pyc
tags_dirs
cscope.files
cscope.out
tags
test*
